{% extends "main.html" %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="toprint">
        <h3>Sample h3 tag</h3>
        <p>Sample pararaph</p>
      <p>Sample pararaph tessssst</p>
    </div>
    <div id="editor"></div>
    <button id="cmd" class="btn btn-success" ><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generate PDF</button>
    <!--Add External Libraries - JQuery and jspdf
    check out url - https://scotch.io/@nagasaiaytha/generate-pdf-from-html-using-jquery-and-jspdf
    -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script type="text/javascript">

        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#cmd').click(function () {
            doc.fromHTML($('#toprint').html(), 15, 15, {
                'width': 170,
                    'elementHandlers': specialElementHandlers
            });
            doc.save('siyou-online-'+Date(Date.now())+'.pdf');
        });

    </script>
  </body>
</html>
{%endblock%}
