<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="/" class="navbar-brand"><i class="fa fa-shopping-bag"></i>Siyou<b>Online</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<form class="navbar-form form-inline">
			<div class="input-group search-box">
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>
		<div class="navbar-nav ml-auto">

      {% if request.user.is_authenticated is False %}
      <a href="{% url "login" %}" class="nav-item nav-link"><i class="fa fa-sign-in"></i><span>Sign in</span></a>
      {% endif %}

      {% if request.user.is_authenticated is True %}
      <a href="/" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>

			<!-- <a href="#" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Projects</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-users"></i><span>Team</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-pie-chart"></i><span>Reports</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Careers</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a> -->
			<a href="#" class="nav-item nav-link"><i class="fa fa-cart-arrow-down"></i><span>Cart</span></a>
      <a href="{% url "logout" %}" class="nav-item nav-link"><i class="fa fa-sign-out"></i><span>Sign out</span></a>

			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="https://scontent.ftun7-1.fna.fbcdn.net/v/t1.0-9/109975187_2640021379589007_1029813292290674764_n.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=aZhYrKnSI98AX_xuyVm&_nc_ht=scontent.ftun7-1.fna&oh=ab69fdd30f1e7c7b1296b2f0b458b4f5&oe=5F469FC4" class="avatar" alt="Avatar"> {{ request.user.username }} <b class="caret"></b></a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="{% url "password_change" %}"  class="dropdown-item"><i class="fa fa-sliders"></i>Settings</a>
					<div class="divider dropdown-divider"></div>
					<a href="{% url "logout" %}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
          {% endif %}

				</div>
			</div>
		</div>
	</div>
</nav>
